# Gradle
gl-logicraft/.gradle/
gl-logicraft/build/

# Fabric
gl-logicraft/run/
gl-logicraft/.gradle-cache/

# IDE
gl-logicraft/.idea/
gl-logicraft/*.iml
gl-logicraft/.vscode/
gl-logicraft/bin/
gl-logicraft/out/

# Log files
*.log

# Gradle properties
gl-logicraft/gradle.properties
